/*******************************************************************************
 * Hoja de estilos principal para la sección de partidas                       *
 * --------------------------------------------------------------------------- *
 * - Define la estructura base de la página (html, body, main).                *
 * - Establece tipografías y estilos para encabezados (h1, h2, h3) y párrafos. *
 * - Da formato a tablas con scroll horizontal, colores alternados y hover.    *
 * - Incluye reglas responsivas para pantallas pequeñas (<460px).              *
 *                                                                             *
 * Objetivo: mantener una presentación clara, legible y consistente            *
 * en la interfaz de gestión y visualización de partidas.                      *
 *******************************************************************************/

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

h1, h2, h3, p {
    font-family: 'Arial', sans-serif;
}

h1 {
    font-size: 3rem;
    margin: 10px 0 20px 0;
    padding: 0.5rem;
    border-radius: 8px;
    text-align: center;
    background-color: black;
    color: white;
}

h2 {
    font-size: 2rem;
    margin: 10px;
    padding: 0.2rem;
    border: 2px solid #000000;
    text-align: center;
    border-radius: 5px;
    background-color: #ffffff;
    color: #F25C05;
}

form h2 {
    font-size: 2rem;
    margin: 10px;
    padding: 0.2rem;
    border: 2px solid #bbbbbb;
    text-align: center;
    border-radius: 5px;
    background-color: #000000;
    color: #F25C05;
}

h3 {
    font-size: 1.5rem;
    text-align: center;
    color: #F25C05;
    background-color: #000000;
    border-radius: 8px;
    padding: 4px;
    margin: 0 0 5px 0;
}

main p {
    font-size: 1.4rem;
    color: #333333;
}

main {
    flex: 1;
    padding: 20px;
}

.table-scroll {
  overflow-x: auto;
  width: 100%;
}

table {
    min-width: 600px;
    border-collapse: collapse;
}

td {
    padding: 8px;
}

table, th, td {
    border: 1px solid #ffffff00;
}

thead tr {
    background-color: rgb(0, 0, 0);
    color: #ffffff;
}

thead {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.1rem;
    text-align: center;
}

tbody {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.9rem;
}

tr:nth-child(even) {
    background-color: #cfcfcf;
}

tbody tr:hover {
    background-color: rgba(241, 144, 109, 0.751);
}

@media only screen and (max-width: 460px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    main p {
        font-size: 1rem;
    }

    thead {
        font-size: 1rem;
    }

    tbody {
        font-size: 0.9rem;
    }
    
}